@charset "UTF-8";

body{
	text-align: center;
}

h1 {
	color: brown;
	font-size: 40px;
}
p {
	color: rgb(255, 255, 255);
}
section {
	background-color: aqua;
	border-style: solid;
	border-radius: 10px;
}